<div>
  <div class='header'>
    <img src='{{image}}'>
    <span class='name'>{{name}}</span>
    <span class='statics'>{{interactions}} interactions</span>
  </div>

  <div class='email atribute'>
    <span class='label'>Email</span>
    <span class='value'>{{email}}</span>
  </div>
  <div class='phone atribute'>
    <span class='label'>Phone</span>
    <span class='value'>{{phone}}</span>
  </div>
  <div class='location atribute'>
    <span class='label'>Location</span>
    <span class='value'>{{location}}</span>
  </div>
</div>
