
.widget_journey {
  box-shadow: 0px 0px 3px 0px;
  display: grid;
  grid-auto-columns: 2fr 3fr;
  position: relative;
  padding: 20px;
  margin: 40px;
  min-width: 420px;
}
/*
.widget_journey > * {
  border: 1px solid red;
}
*/
.passenger_info h3 {
  text-transform: uppercase;
  color: #5557;
}

.passenger_info {
  margin-top: 15px;
}

.passenger_info h3 {
  text-transform: uppercase;
  color: #5557;
  position: absolute;
  top: 0px;
  left: 20px;
}
app-passenger-info {
  grid-column: 1;
  grid-row: 1 / 3;
}

app-widget-payment {
  height: 65px;
  display: inline-block;
  /* width: calc(50% - 10px); */
  margin: 5px 5px;
  width: 120px;
}

.payments {
  grid-column: 2;
  grid-row: 1;
  padding: 45px 10px 10px 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 820px) {
  .payments {
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: 1fr 1fr; */
  }
}

.details {
  grid-column: 1 / 3;
}

.details.hide {
  height: 0;
  transition: height 1s linear;
}

.details {
  grid-column: 1 / 3;
  transition: height 1s ease-in-out;
  height: 250px;
  display: unset;
  overflow: hidden;
}

.destiny_origin {
  grid-column: 1 / 3;
  margin: 0 10%;
  padding: 30px;
  display: grid;
  grid-auto-columns: 1fr 1fr;

}

.icon.origin{
  background-color: red;
  grid-column: 1;
}
.icon.destiny{
  background-color: blue;
  grid-column: 2;
  grid-row: 1;
}

.icon {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.destiny_origin > div > span {
  display: block;
}
.destiny_origin span.address {
  color: #5558;
  font-size: 9pt;
}
.line {
  grid-column: 1 / 3;
  height: 1px;
  background-color: #5558;
  width: 36%;
  margin: -8px 0 17px 50px;
}


.origin {
  grid-column: 1;
}

.destiny {
  grid-column: 2;
}

.statics {
  grid-column: 1 / 3;
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr 1fr;
  margin: 0 10%;
  border-top: 1px solid #7776;
  padding: 20px;
}

.statics span {
  display: block;
}

.statics span.value {
  font-size: 11pt;
}

.statics .label {
  font-size: 8pt;
  color: #5557;
  margin-bottom: 0.4em;
}

.distance {
  grid-column: 1;
}

.time {
  grid-column: 2;
}

.price {
  grid-column: 3;
}
.energy {
  grid-column: 4;
}

.hidden {
  visibility: hidden !important;
  display: none;
}

.hide_button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.hide_button input {
  appearance: none;
  position: relative;
  width: 2rem;
  height: 1rem;
  overflow: hidden;
  border-radius: 0.6em;
  cursor: pointer;
  background-color: #5555;
  outline: none;
  margin: 0 0 0 2em;
  bottom: -3px;
}

.hide_button input:before {
  content: '';
  position: absolute;
  top: 1.5px;
  left: 2px;
  background-color: #fff;
  border-radius: 1em;
  height: 0.8rem;
  width: 0.8rem;
  transition: left 500ms linear;
}

input[type="checkbox"]:checked {
  background-color: #2cd92c99;
  transition: background-color 500ms linear;
}

.hide_button input:checked::before {
  left: 1.1rem;
  transition: left 500ms linear;
}
