<div class='widget_journey'>
  <div class='passenger_info'>
    <h3 class='title'>Passenger info</h3>
    <app-passenger-info [passenger]="passenger"></app-passenger-info>
  </div>

  <div class='hide_button'>
    <span>Hide information</span>
    <input type="checkbox" (change)='hideInfo= !hideInfo'/>
  </div>

  <div class='payments'>
    <app-widget-payment *ngFor='let item of payments'
      [selection]='selection'
      [payment]='item' (selected)="paymentSelect($event)">
    </app-widget-payment>
  </div>

  <div class='details' [class.hide]="hideInfo">

    <div class='destiny_origin'>
      <div class='icons'>
        <i class='icon origin fa fa-check'></i>
        <!-- <span class='line'></span> -->
        <i class='icon destiny fa fa-map-marker'></i>
      </div>
      <div class='origin'>
        <span class='name'>{{(journeyObs | async)?.origin.name}}</span>
        <span class='address'>{{(journeyObs | async)?.origin.address}}</span>
      </div>
      <div class='destiny'>
        <span class='name'>{{(journeyObs | async)?.destination.name}}</span>
        <span class='address'>{{(journeyObs | async)?.destination.address}}</span>
      </div>
    </div>

    <div class='statics'>
      <div class='distance'>
        <span class='value'>{{(journeyObs | async)?.distance}} km</span>
        <span class='label'>Distance</span>
      </div>
      <div class='time'>
        <span class='value'>{{(journeyObs | async)?.time}} min</span>
        <span class='label'>Time</span>
      </div>
      <div class='price'>
        <span class='value'>${{(journeyObs | async)?.price}}</span>
        <span class='label'>Price</span>
      </div>
      <div class='energy'>
        <span class='value'>{{(journeyObs | async)?.energy}} kWh</span>
        <span class='label'>Energy</span>
      </div>
    </div>
  </div>
</div>
